body {
	background: #CACACA url(../img/simple-beauty/background.png) repeat-x;
	font-family: "Trebuchet MS", Verdana, serif
}

#container {
	margin: 0 auto;
	width: 1000px
}

#header {
	width: 100%
}

#sub_header {
	text-align: right;
	font-weight: bold;
	font-size: 20px;
	color: #FFFFFF;
	padding-right: 20px;
	padding-bottom: 20px;
}

#main_content {
	margin: 0 auto;
	width: 100%;
	background: #FFFFFF url(../img/simple-beauty/background_content.gif);
	background-repeat: repeat-y
}

#main_content_top {
	height: 30px;
	background: #FFFFFF url(../img/simple-beauty/background_top.gif);
}

#main_content_bottom {
	height: 30px;
	background: #FFFFFF url(../img/simple-beauty/background_bottom.gif);
}

#footer {
	text-align: center;
	font-size: 12px;
	margin: 10px auto
}

.content {
	/* float: right; */
	/* width: 540px; */
	width: 980px;
	text-align: justify;
	padding: 0 10px 0 10px;
	font-size: 12px
}

.menu {
	width: 160px;
	float: left;
	padding: 0 10px 0 10px;
	border-right: #8C8484 1px solid;
	font-size: 12px
}

.menu ul {
	margin: 0;
	padding: 10px 0 10px 15px
}

.menu il {
	list-style-type: disc
}

#header h1 {
	margin-bottom: 0px;
	font-size: 28px;
	font-weight: bold;
	color: #A40008
}

.content h2 {
	margin-top: 0px;
	font-size: 18px;
	font-weight: bold;
	color: #A40008
}

#clear {
	display: block;
	clear: both;
	width: 100%;
	height: 1px;
	overflow: hidden;
}

.menu_title {
	font-size: 18px;
	font-weight: bold;
	color: #A40008
}

.menu ul {
	margin: 0;
	padding: 10px 0 20px 15px
}

.menu li {
	padding-top: 2px;
	list-style-type: circle
}

a:link,.w,a.w:link,.w a:link {
	color: #0000cc;
	font-weight: bold;
	text-decoration: none
}

a:hover {
	color: #A40008;
	font-weight: bold;
	text-decoration: underline
}

a.menu_link {
	color: #000000;
	font-weight: bold;
	text-decoration: underline
}

a.menu_link:hover {
	color: #A40008;
	font-weight: bold;
	text-decoration: none
}

.quote {
	margin: 20px;
	text-align: center;
	font-weight: bold;
	font-style: italic
}

/* styles added by slavikos */
.rich-message-marker img {
	padding-right: 7px;
}

.rich-message-label {
	color: red;
}

.fieldValueText {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: black;
}

.vertTop {
        vertical-align:top;
}


/* --------------------------------- */
/* MESSAGE BOX CLEAN	serie	  	 */
/* --------------------------------- */
	.clean-gray{
		border:solid 1px #DEDEDE; 
		background:#EFEFEF;
		color:#222222;
		padding:4px;
		text-align:justify;
	}
	.clean-yellow{
		border:solid 1px #DEDEDE; 
		background:#FFFFCC;
		color:#222222;
		padding:4px;
		text-align:justify;
	}
	
	.clean-warning {
		border:solid 1px #DEDEDE; 
		background:#FFFFCC;
		color:#222222;
		padding:4px;
		text-align:justify;
	}
	.clean-ok{
		border:solid 1px #349534; 
		background:#C9FFCA;
		color:#008000;
		font-weight:bold;
		padding:4px;
		text-align:justify;
	}
	.clean-error{
		border:solid 1px #CC0000; 
		background:#F7CBCA;
		color:#CC0000;
		font-weight:bold;
		padding:4px;
		text-align:justify;
	}
	
	.clean-gray-title{
		border:solid 1px #DEDEDE; 
		background:#EFEFEF;
		color:#222222;
		padding:4px;
		text-align:left;
	}
	.clean-yellow-title {
		border:solid 1px #DEDEDE; 
		background:#FFFFCC;
		color:#222222;
		padding:4px;
		text-align:left;
		font-weight:bold;
	}
	
	.clean-warning-title {
		border:solid 1px #DEDEDE; 
		background:#FFFFCC;
		color:#222222;
		padding:4px;
		text-align:left;
		font-weight:bold;
	}
	.clean-ok-title{
		border:solid 1px #349534; 
		background:#C9FFCA;
		color:#008000;
		font-weight:bold;
		padding:4px;
		text-align:left;
	}
	.clean-error-title{
		border:solid 1px #CC0000; 
		background:#F7CBCA;
		color:#CC0000;
		font-weight:bold;
		padding:4px;
		text-align:left;
	}
	
/* --------------------------------- */
/* MESSAGE BOX Iconized	  		 */
/* --------------------------------- */
	.icon-gray{
		border:solid 1px #DEDEDE; 
		background:#EFEFEF;
		color:#222222;
		padding:4px;
		text-align:justify;
	}
	.icon-yellow{
		border:solid 1px #DEDEDE; 
		background:#FFFFCC url(../img/icon-yellow.png) 8px 6px no-repeat;
		color:#222222;
		padding:4px;
		text-align:justify;
	}
	.icon-ok{
		border:solid 1px #90ac13; 
		background:#eef4d3 url(../img/icon-green.png) 8px 6px no-repeat;
		color:#6b800d;
		font-weight:bold;
		padding:4px;
		text-align:justify;
	}
	.icon-error{
		border:solid 1px #CC0000; 
		background:#F7CBCA url(../img/icon-red.png) 8px 6px no-repeat;
		color:#CC0000;
		font-weight:bold;
		padding:4px;
		text-align:justify;
	}
	
	
	.info-message {
		font-weight:bold;
		color:#6b800d;
	}
	
	.error-message {
		font-weight:bold;
		color:#CC0000;
		
	}
